*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    overflow:hidden;
    height: 100vh;
    width: 100%;
}
.cursor{
    position: absolute;
    height: 100px;
    width: 100px;

}
 .cursor .circle {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(#0f0,#f0f);
}
body .cursor a{
    position: absolute;
    text-decoration: none;
    font-size: 45px;
    top: 286px;
    left: 612px;
    width: 400px;

}
body .cursor a:hover{
    background: linear-gradient(#a2f1f6,#8ee16a);
    color: #000;
}