*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    overflow:hidden;
    height: 100vh;
    width: 100%;
}
.cursor{
    position: absolute;
    height: 100px;
    width: 100px;

}
 .cursor .circle {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(#0f0,#f00);
}
body .cursor a{
    color: #fff;
    position: absolute;
    text-decoration: none;
    font-size: 2em;
    top: 286px;
    left: 612px;
    width: 400px;

}
body .cursor a:hover{
    font:sans-serif;
    font-weight:bold;
    color: #abcdef;
    
}
